<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <remove fileExtension=".xls" />
            <remove fileExtension=".xlsx" />
            <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            <mimeMap fileExtension=".xls" mimeType="application/vnd.ms-excel" />
        </staticContent>
    </system.webServer>
</configuration>
